        {% if composition_code %}
        <h2>Input data</h2>
            <p>Composition code: {{ composition_code }}</p>
        {% else %}
        <h2>Applied filters</h2>
        <ul>
            <li>Collection: {{ filter_collection|title }}</li>
            <li>Key: {{ filter_key|title }}</li>
            <li>Total duration: {{ filter_total_duration|title }}</li>
            <li>Time signature: {{ filter_time_signature|title }}</li>
        </ul>
            <p>Input data size: {{ input_size }} objects</p>
        {% endif %}
