        {% if cluster_table|length > 0 %}
        <h2>Clusters</h2>
            <table  id="basic_statistics" class="table">
                <tr>
                    <th rowspan="2">Cluster number</th>
                    <th colspan="2">Song</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>IMSLP code</th>
                </tr>
                {% for cluster_row in cluster_table %}
                    {% for song_row in cluster_row.songs %}
                    <tr>
                        {% if song_row.first %}
                            <td rowspan="{{ cluster_row.size }}">{{ cluster_row.number }}</td>
                        {% endif %}
                        <td>{{ song_row.title }}</td>
                        <td><a href="/composition/{{ song_row.code }}">{{ song_row.code }}</a></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endif %}