{% extends "base.html" %}

{% block body %}
    <h2>Import Data</h2>

    <p>Re-import data from MusicXML files or IMSLP.</p>
    <p>By default the importing function will not replace the data on the database.</p>
    <p>Right now I have the following number of music data items and compositions in the database:</p>

    <ul>
        <li>Music Data: {{ music_data_count }}</li>
        <li>Compositions: {{ composition_count }}</li>
    </ul>


    <h3>Import Music Data</h3>

    {% if importing %}
        <div class="alert alert-warning">
            <p>I'm importing the music data now. It usually takes a while, so I'll email you once it's done.</p>
            <p><strong>Don't click on the import button again!</strong></p>
        </div>
    {% endif %}

    <form class="form-horizontal" role="form" action="{% url 'import_music_data' %}" method="post">
        {% csrf_token %}
        <fieldset>

            <div class="form-group">
                <div class="col-md-4">
                    <button id="import-music-data" name="import-music-data" class="btn btn-primary">Import Music Data
                    </button>

                    <div class="checkbox">
                        <label for="-0">
                            <input type="checkbox" name="replace-data" id="replace-data" value="1">
                            Replace data on the database (use with caution,
                            this may <strong>destroy</strong> useful data)
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}
