{% extends "base.html" %}

{% block title %}
    Flauta Solo | Durations
{% endblock %}


{% block body %}
    <h1>Durations</h1>

    <form class="form-horizontal" action='{% url "durations" %}' method="post">
        {% csrf_token %}
        <fieldset>
            {% include "_filter_fields.html" with items=signatures %}

            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>

                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Analyze</button>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#durations').addClass('active');
        });
    </script>
{% endblock %}