{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Flauta Solo
{% endblock %}

{% block body %}
    <h1>Flauta Solo</h1>

        <p>Flauta solo is an application for Statistical Analysis of Solo Flute
            pieces composed between 1710 and 1810 and available in the
            <a href="http://imslp.org/" target="_blank">International Music
                Score Library Project (IMSLP)</a>.
        </p>
        <p>This application is being developed by the
            <a href="http://genosmus.com/english/" target="_blank">Genos Research Team</a>.
        </p>
        <p>This application is under GPLv3 license.</p>
{% endblock %}
