{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Flauta Solo
{% endblock %}

{% block body %}
    <h1>Flauta Solo</h1>

        <p>Flauta solo is an application for Statistical Analysis of Solo Flute
            pieces composed between 1710 and 1810 and available in the
            <a href="http://imslp.org/" target="_blank">International Music
                Score Library Project (IMSLP)</a>.
        </p>
        <p>This application is part of the research conducted by
            <a href="http://genosmus.com/english/" target="_blank">Genos
                Research Group</a> and is being developed by Marcos da Silva
            Sampaio and Pedro Kroger.</p>
        <p>This application is under <a href="{% url "license" %}">MIT License</a>.
        </p>
{% endblock %}
