{% extends "base.html" %}

{% block title %}
    Stats - Flauta Solo
{% endblock %}

{% block body %}
    <h1>Stats</h1>

    <table id="stats" class="table">
        <thead>
        <tr>
            <th>Commit</th>
            <th>Number music data</th>
            <th>Number compositions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ REVISION }}</td>
            <td>{{ number_music_data }}</td>
            <td>{{ number_compositions }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
