{% extends "base.html" %}
{% load git %}

{% block title %}
    Stats - Flauta Solo
{% endblock %}

{% block body %}
    <h1>Stats</h1>

    <table id="stats" class="table">
        <thead>
        <tr>
            <th>Commit</th>
            <th>Number music data</th>
            <th>Number compositions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% git_short_version %}</td>
            <td>{{ number_music_data }}</td>
            <td>{{ number_compositions }}</td>
        </tr>
        </tbody>
    </table>


    <h2>Music Data</h2>

    <ul>
        {% for data in music_data %}
            <li>{{ data.score.filename }}</li>
        {% endfor %}
    </ul>
{% endblock %}
